.app-container {
    height: 100vh; /* Set the height of the container */
    overflow: hidden; /* Hide any overflow from the container */
    display: flex;
    flex-direction: column;
  }
  
  .content-container {
    flex: 1; /* Allow the content to take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling for the content */
  }
  